.ErrorBanner {
    padding: 20px;
    background-color: brown;
    color: white;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

.ErrorSpan {
    font-weight: bold;
    font-size: 18px;
}

.ErrorBanner .closebtn {
    margin-left: 15px;
    background-color: white;
    margin: 3px;
    border-radius: 10px;
    border: solid 1px white;
    color: gray;
    font-weight: bold;
    float: right;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.ErrorBanner .closebtn:hover {
    color: black;
}

.ErrorBanner .retrybtn {
    background-color: white;
    float: right;
    padding: 2px;
    border-radius: 10px;
    border: solid 1px white;
    color: gray;
    font-weight: bold;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.ErrorBanner .retrybtn:hover {
    color: black;
}