.Header {
    display: flex;
    /* position: fixed; */
    justify-content: space-between;
    align-items: center;
    background-color: white;
    left: 0;
    top: 0;
    right: 0;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.5);
    height: 60px;
    padding: 0 10px;
    /* z-index: 100; */
}

.Header img {
    width: 220px;
}