.Products .Card {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.Card {
    /* display: flex;
    flex-direction: column;
    flex-wrap: wrap; */
    /* box-sizing: border-box; */
    width: 300px;
    height: 380px;
    margin: 40px;
    border: 1px solid lightgray;
    border-radius: 5px;
    box-shadow: 5px 5px 10px 2px #808080;
    align-items: center;
    transition: 1s;
}

.price {
    margin-top: 10px;
}

.Card img {
    margin: 20px;
    max-width: 150px
}

.Card:hover {
    cursor: pointer;
    transform: scale(1.1);
}


/* .CardImage {
    height: 200px;
    margin-top: auto;
} */

.titleProducts {
    margin: 10px;
    padding: 10px 20px;
    font-size: 18px;
    margin-top: auto;
}